@import "tailwindcss";

@theme {
    --color-background-100: #0a0a0a;
    --color-foreground-100: #ededed;
    /* --color-accent-100: #833bed; */
    --color-accent-100: #10e956;
    --color-lightaccent-100: #8AFCB0;
}

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@font-face {
  font-family: "Eurostile";
  src: url("/fonts/eurostile.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--color-background-100);
  color: var(--color-foreground-100);
  font-family: 'Eurostile', sans-serif;
  min-height: 100vh;
}
