@import "tailwindcss";

@theme {
    --color-background-100: #0a0a0a;
    --color-foreground-100: #ededed;
    --color-accent-100: #833bed;
}

@layer components {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@font-face {
  font-family: "Eurostile";
  src: url("/fonts/eurostile.ttf");
}

body {
  background: var(--color-background-100);
  color: var(--color-foreground-100);
  font-family: 'Eurostile';
}
